body {
  background-color: black;
}

h1, h2, h3, h4, h5, h6, p, span, div, a {
  color: white;
}

.list-group-item {
  background-color: black;
  color: white;
}

.list-group-item a {
  color: white;
}

.list-group-item a:hover {
  color: lightgray; /* Optional: Change link color on hover */
}
